%h5
  = link_to 'MES LEI功能', mes_leis_path
  .tab-1
  = link_to '打印外箱標籤', print_outside_box_label_view_mes_leis_path
  .tab-1
  = link_to '查詢', query_lei_view_mes_leis_path
  .tab-1
  = link_to '掃條碼', read_barcode_mes_leis_path
