.col-xs-12.col-sm-6
  = form_tag(create_new_barcode_by_lot_post_mes_path, method: 'post') do
    .panel.panel-default
      .panel-heading
        .panel-title
          新建料號/批次條碼
      .panel-body
        .form-inputs
          .form-group
            = label_tag 'datas', '工廠 料號 批次 數量'
            = text_area_tag 'datas', '', class: 'form-control', placeholder: '工廠 料號 批次 數量', size: '25x5'
      .panel-footer
        = render 'layouts/submit_button'
