%h5
  = link_to 'MES Phicomm重工功能', index2_mes_phicomms_path
  .tab-1
  = link_to '掃MAC打印SN標籤', mac_print_sn_view_mes_phicomms_path
  .tab-1
  .tab-1
  = link_to '掃SN檢查SN', sn_check_sn_a_view_mes_phicomms_path
