= render 'mes_phicomms/submenu'
.row
  .col-xs-12.col-sm-6
    .panel.panel-default
      .panel-heading
        .panel-title
          解除外箱標簽
      .panel-body
        .form-group.col-xs-12
          %label{for: 'barcode'}外箱條碼
          = text_field_tag 'barcode', '', class: 'form-control', autofocus: true
      .table-responsive{style:"height:100%;overflow-y:auto;"}
        %table.table.small.table-bordered.table-condensed
          %thead
            %tr
              %th Itm
              %th Barcode
              %th Msg
          %tbody#status_tbody

:javascript
  var rowCounter = 0;
  function addrow(barcode){
    str = "<tr><td>"+rowCounter+"</td><td id='t"+rowCounter+"'>"+barcode+"</td><td id='s"+rowCounter+"'>...</td>";
    $('#status_tbody').prepend(str);
  }

  $(document).ready(function () {
    $('#barcode').focus();

    $('#barcode').change(function(){
      rowCounter += 1;
      var barcode = $('#barcode').val();
      addrow(barcode);
      $.ajax({
        url: '/mes_phicomms/cancel_outside_box_label_post',
        method: 'post',
        data: {barcode: barcode, rowcounter: rowCounter}
      })
      $('#barcode').val('');
      $('#barcode').focus();
    });
  })


